@font-face {
  font-family: Poppins-Regular;
  src: url(../../assets/fonts/Poppins-Regular.ttf) format('ttf'),
   url(../../assets/fonts/Poppins-Regular.woff) format('woff'),
     url(../../assets/fonts/Poppins-Regular.otf) format('otf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url(../../assets/fonts/Poppins-Bold.ttf) format('ttf'),
   url(../../assets/fonts/Poppins-Bold.woff) format('woff'),
    url(../../assets/fonts/Poppins-Bold.otf) format('otf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url(../../assets/fonts/Poppins-Medium.ttf) format('ttf'), 
  url(../../assets/fonts/Poppins-Medium.woff) format('woff'),
    url(../../assets/fonts/Poppins-Medium.otf) format('otf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url(../../assets/fonts/Poppins-SemiBold.ttf) format('ttf'), 
  url(../../assets/fonts/Poppins-SemiBold.woff) format('woff'),
    url(../../assets/fonts/Poppins-SemiBold.otf) format('otf');
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: Poppins-Regular;
  color: #444444;
}

p {
  font-family: Poppins-Regular;
}

a {
  color: #106eea;
  font-family: Poppins-Medium;
}

a:hover {
  color: #3b8af2;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Poppins-Bold;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #106eea;
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: transparent;
  transition: all 0.5s;
  z-index: 997;
  padding: 10px 0;
  top: 0px;;
  position: absolute;
  width: 100%;
}

#header.header-scrolled {
  top: 0;
  padding: 15px;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: #222222;
}

#header .logo a span {
  color: #106eea;
}

#header .logo img {
  max-height: 40px;
}

@media (max-width: 992px) {
  #header {
    padding: 15px;
    top: 0;
  }
  #header .logo {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #fff;
  transition: 0.3s;
  font-size: 18px;
  font-weight: 600;
  padding: 0 3px;
  font-family: Poppins-Medium;
}

.nav-menu a i {
  margin-right: 10px;
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 991.98px) { 
  #header .container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 120vh;
  background: url("../img/hero-banner.png") top left;
  background-size: cover;
  position: relative;
}

#hero .container {
  position: relative;
  padding-top: 0px;
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  color: #fff;
  font-family: Poppins-Bold;
}

#hero h1 span {
  color: #79eaff;
}
.price-content p {
    color: #fff;
    font-size: 24px;
    margin-top: 30px;
}
.price-content p span {
    color: #79eaff;
}
.price-content p .price {
  font-size: 35px;
  font-weight: 700;
  font-family: Klavika-Bold-Italic;
  color: #f6951b;
}

span.offer {
  font-size: 10px;
}

.hero-form.contact {
  background-color: #fff;
  padding: 25px 20px;
  border-radius: 10px;
}

.form-title h2 {
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0px;
  font-size: 22px;
  text-align: center;
  font-family: Poppins-Bold;
}

.last-field {
  margin-bottom: 0;
}

#sameasphone {
  margin-top: 7px;
}

.custom-control-label {
  font-size: 13px;
}

.custom-control-label:before{
  background-color:#fff;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color:#fff;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after{
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='orange' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.custom-control-input:active~.custom-control-label::before{
  background-color:green;
}

.contact .php-email-form input {
     padding: 10px 5px 0px 0px;
    border-bottom: 1px solid #929292;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    opacity: 0.7;
    /*margin-bottom: 20px;*/
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #106eea;
  outline: none;
  box-shadow: unset;
}

.form-group textarea {
    border: none;
    border-bottom: 1px solid #a8adb2;
    border-radius: 0;
    padding: 0;
    color: #80858a;
    /* display: flex; */
    /* align-items: end; */
    opacity: 0.8;
}

.contact .php-email-form button[type="submit"] {
  background: linear-gradient(147deg, rgba(34,69,155,1) 35%, rgba(8,16,37,1) 100%);
  border: none;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
  width: 100%;
  text-transform: uppercase;
  font-family: Poppins-Medium;
  font-size: 15px;
  margin-top: 10px;
}

.contact .php-email-form button[type="submit"]:hover {
  background:linear-gradient(147deg, rgba(34,69,155,1) 35%, rgba(8,16,37,1) 100%);
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form {
  padding: 0px 10px 10px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

#paymentForm .form-group {
  margin-bottom: 10px;
  color: #b3b3b3;
}

.form-success {
  align-items: center;
  justify-content: center;
  height: 100%;
}

.form-success h2 {
  color: #000;
  font-size: 45px;
  text-align: center;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}
.section-title h2 {
    text-align: center;
    color: #122452;
    margin-bottom: 50px;
    font-family: 'Poppins-Bold';
    font-size: 48px;
}
.section-bg {
  background-color: #f5f5f5;
}

.top-section-title {
  color: #f58220;
  width: 65%;
  margin: 0 auto;
  font-family: Poppins-Bold;
  padding-bottom: 30px;
}

.mobile-nav {
  display: none;
}

.error {
  margin-bottom: 0;
  color: red;
  font-size: 10px;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
#services{
  background:url("../img/services-bg.png");
}
.services-box{
  width: 100%;
  background: url("../img/service-bg.png") top left;
  background-size: 100% 100%;
}
.services-box:hover {
    color: #fff;
     background: url("../img/services-2-bgq.png") top left;
     background-size: 100% 100%;
    cursor: pointer;
    width: 100%;
}
.services-box:hover img{
  filter: invert(99%) sepia(9%) saturate(0%) hue-rotate(4deg) brightness(115%) contrast(100%);
}
.services-box img {
  width: 80px;
  margin-bottom: 30px;
}
.services-box {
  text-align: left;
  padding: 40px;
  border: 3px solid #ededed;
  border-bottom: none;
}
.services-box p {
    font-family: 'Poppins-SemiBold';
    font-size: 25px;
}

/*--------------------------------------------------------------
# Patch Infotech
--------------------------------------------------------------*/
#infotech{
  background:url("../img/infotech-bg.png");
  background-size: cover;
}
.infotech-content {
    color: #fff;
}
.infotech-content h2 {
    font-size: 48px;
    text-transform: uppercase;
}
.infotech-content span {
    color: #33e3ff;
}
.infotech-content p {
    font-size: 24px;
}
/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.client-box {
    border: 1px solid #eaeaea;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}
.client-button {
    text-align: center;
    margin-top: 30px;
}
.client-button a {
    background: linear-gradient(147deg, rgba(34,69,155,1) 35%, rgba(8,16,37,1) 100%);
    color: #fff;
    padding: 10px 30px;
    border-radius: 10px;
    font-family: 'Poppins-SemiBold';
    font-size: 25px;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
#team{
  background:url("../img/team-bg.png");
  background-size: cover;
}
.team-box {
    color: #fff;
    margin: 25px;
}
.team-box img {
    margin-bottom: 10px;
}
.team-title h2 {
    font-size: 43px;
    color: #fff;
    margin-bottom: 30px;
}
.team-title h2 span {
    color: #79eaff;
}
.team-box h3 {
    font-family: 'Poppins-SemiBold';
    font-size: 24px;
    color: #79eaff;
}
.team-btn a {
    background-color: #fff;
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Poppins-SemiBold';
}
.team-btn a:hover {
    color: #106EEA;
}
.team-btn {
    margin-top: 40px;
}
/*--------------------------------------------------------------
# Technologies Image
--------------------------------------------------------------*/
.technologies-box {
    padding: 10px;
    margin: 10px;
}
.technologies-btn{
  margin-top: 40px;
}
.technologies-btn a {
    background: linear-gradient(147deg, rgba(34,69,155,1) 35%, rgba(8,16,37,1) 100%);
    color: #fff;
    padding: 10px 30px;
    border-radius: 10px;
    font-family: 'Poppins-SemiBold';
    font-size: 25px;
}
.custom-col-2 {
    flex: 0 0 auto;
    width: 10%;
    position: relative;
}
/*--------------------------------------------------------------
# Experts
--------------------------------------------------------------*/
#experts{
  background-image: url("../img/expert-bg.png");
   background-size: cover;
}
.expert-content h2 {
    font-size: 48px;
    color: #122452;
    margin-bottom: 20px;
}
.expert-content p {
    font-size: 30px;
    margin-bottom: 20px;
}
.expert-content p span {
    font-family: 'Poppins-SemiBold';
}
.expert-content a {
    background: linear-gradient(147deg, rgba(34,69,155,1) 35%, rgba(8,16,37,1) 100%);
    color: #fff;
    padding: 10px 30px;
    border-radius: 10px;
    font-family: 'Poppins-SemiBold';
    font-size: 25px;
}

#thank-you{
  height: calc(100vh - 246px);
  padding: 100px 0;
}
#privacy-policy{
  padding-top: 130px;
}
#header-thank {
  background: linear-gradient(180deg, rgba(79,79,79,1) 35%, rgba(21,21,21,1) 100%);
  transition: all 0.5s;
  z-index: 997;
  padding: 10px 0;
  top: 0px;;
  position: absolute;
  width: 100%;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer .footer-top {
  background: linear-gradient(180deg, rgba(79,79,79,1) 35%, rgba(21,21,21,1) 100%);
  padding: 60px 0 30px 0;
  color: #fff
}
.what-we-do-box ul ,.who-are-box ul ,.contact-box ul{
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}
.contact-box ul li img {
    width: 20px;
}
.contact-box ul li a ,.who-are-box ul li a{
    color: #fff;
    font-size: 11px;
}
.what-we-do-box ul li,.who-are-box ul li,.contact-box ul li{
    margin-bottom: 10px;
    font-size: 11px;
}
.what-we-do-box ul li  a,.who-are-box ul li a{
  color: #fff;
}
.address-box p
{
  font-size: 11px;
}
.who-are-box h3,.what-we-do-box h3,.contact-box h3,.address-box h3{
  font-family: 'Poppins-SemiBold';
  font-size: 20px;
}
.address-box h3 {
    margin-bottom: 20px;
}
.social-links img {
  max-width: 30px;
  margin: 0px 10px 0 0;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #fff;
}
@media (max-width: 991.98px) { 

 #hero {
    height: auto;
    padding-top: 150px;
  }

  .form-title h2 {
    width: 100%;
  }

  .top-section-title {
    width: 100%;
  } 

  .sign-up-button a {
    padding: 5px 5px;
    font-size: 14px;
  }

  .hero-form.contact {
    margin-top: 30px;
    box-shadow: 0px 5px 20px 0 rgb(0 0 0 / 80%);

  }

}

@media (max-width: 767.98px) { 
  .privacy-policy-content {
    padding: 10px;
}
.nav-menu a {
    font-size: 12px;
}
  #hero {
    background: url(../img/mobile-banner.png) top left;
    background-repeat: no-repeat;
  }
  .custom-col-2 {
    width: 33.33%;
   }
  .nav-menu > ul > li {
    margin-top: 20px;
    padding: unset; 
   }
   .services-box {
    margin-top: 20px;
  }
  .section-title h2 {
    font-size: 38px;
  }
  .technologies-btn a {
    font-size: 17px;
  }
  section {
    padding: 30px 0;
    overflow: hidden;
  }
  .who-are-box h3, .what-we-do-box h3, .contact-box h3, .address-box h3 {
      font-size: 25px;
  }
  ul li {
      font-size: 15px;
  }
  .contact-box ul li a {
      font-size: 15px;
  }
  .address-box p {
      font-size: 15px;
  }
}